doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/vendors/jumboTron.css")
		link(rel="stylesheet" href="/css/appointments.css")
		link(rel="stylesheet" href="/css/contact.css")			
		block links
	body
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		block content
			.container
				.header
					ul.nav.nav-pills.pull-right
						li
							a(href='/') Home
						li
							a(href='/appointments') Appointments
						li.active
							a(href='/contact') Contact
					h3.text-muted SchedFX
				.div.container.appointmentHolder
					.col-lg-12.schedContainer
						div.appt.appt1.thanksContainer
							p
								h1 Thanks For Coming Today!
									h2 DanPerata@gmail.com


