body {
	background-image: url(https://theplaidguy.files.wordpress.com/2012/06/dsc01608mashiway.jpg);
	background-position: 10% 30%;
	background-repeat: no-repeat;
	background-size: cover;
}

.thanksContainer {
	border-radius: 0 50px 0 50px;
	padding: 30px 80px;
}